##############################
## Folders                  ##
##############################
/.vscode/
 
##############################
## Netbeans conf            ##
##############################
bin/*
